.nav-menu {
  width: 100%;
  font-size: 20px;
  text-decoration: none;
  color: #585757;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 5px; }
  .nav-menu li {
    padding: 0px 50px 0px 50px; }

.fotos1 {
  width: 58%;
  position: center; }

.fotos1 img {
  height: 500px; }

footer {
  text-align: center; }
  footer i {
    font-size: 25px;
    padding: 0px 50px 0px 50px; }

/* PRODUCTOS*/
.cartas {
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px; }

.card {
  border-color: #ffffff; }

.card-body {
  background-color: #2f2f2f;
  border: none; }

.card-title {
  color: #ffffff;
  text-decoration: underline 2px;
  padding: 2px 0; }

.card-text {
  color: #FFFFFF; }

.price {
  color: #FFFFFF;
  font-size: 22px; }

.cartas a {
  color: #FFFFFF;
  font-size: 16px; }

.btn-primary {
  background-color: #ec61c0;
  border: #ec61c0; }

.btn-primary:hover {
  background-color: #b1157a;
  color: #FFFFFF; }

/* ACERCA DE */
.parrafo {
  text-align: center; }

.contenedor2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  padding: 0 50px;
  align-content: center;
  justify-items: center; }

.card-header {
  background-color: #ec61c0;
  color: #FFFFFF; }

.list-group-item {
  background: #585757;
  color: #FFFFFF; }

.cards1 {
  background: #585757; }

/*contacto*/
.formulario {
  display: flex;
  width: 100%; }

.formulario1 {
  color: #FFFFFF;
  border: solid 2px #FFFFFF;
  width: 600px;
  height: auto;
  padding: 20px 20px; }

.pz {
  padding-left: 50px;
  width: 350px;
  height: 300px; }

/*artista*/
.juli1 {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0px;
  padding-left: 20px;
  padding-bottom: 10px; }

.rei {
  width: 300px;
  height: 300px; }

@media (max-width: 1300px) {
  .nav-menu {
    display: block;
    position: absolute;
    text-align: left;
    padding: 10px; }
    .nav-menu li {
      padding: 0px; }
  .nav-menu :hover {
    transform: none;
    text-decoration: underline 1px #FFFFFF; }
  .fotos1 img {
    height: 400px; }
  .videos1 {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    justify-items: center; }
  .cartas {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    justify-items: center; }
  .contenedor2 {
    grid-template-columns: repeat(2, 1fr);
    width: 100%; }
  .juli1 {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    justify-items: center; } }

@media (max-width: 700px) {
  .fotos1 img {
    height: 320px; }
  .videos1 {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    justify-items: center; }
  .cartas {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    justify-items: center; }
  .contenedor2 {
    grid-template-columns: repeat(1, 1fr);
    width: 100%; }
  .juli1 {
    grid-template-columns: repeat(1, 1fr);
    gap: 25;
    width: 100%;
    padding-left: 10px;
    justify-items: center; } }

@media (max-width: 500px) {
  .contenedor {
    width: auto;
    height: 300px;
    text-decoration: none; }
  .fotos {
    width: 100%;
    height: 240px;
    margin: 0px; }
  .fotos1 {
    padding-left: 10px;
    width: 300px; }
  .fotos1 img {
    padding: 0px;
    margin: 0px;
    width: 300px;
    height: 240px; }
  .videos1 {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    justify-items: center; }
  .cartas {
    grid-template-columns: repeat(1, 1fr);
    width: 100%; }
  .contenedor2 {
    grid-template-columns: repeat(1, 1fr);
    width: 100%; }
  .juli1 {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    justify-items: center; }
  .formulario1 {
    width: auto; }
  .pz {
    width: 200px;
    height: 120px; }
  footer {
    text-align: center;
    width: auto; }
  footer i {
    padding: 0px 25px 0px 25px; } }
