/* ACERCA DE */
.parrafo{
    text-align: center;
  }
  .contenedor2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:25px;
    padding: 0 50px;
    align-content: center;
    justify-items: center;
  }
  .card-header{
    background-color:#e15dfb;
    color: #FFFFFF;
  }
  .list-group-item{
    background: #585757;
    color: #FFFFFF;
  }
  .cards1{
    background: #585757 ;
  }
  
 