/*artista*/
.juli1{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 20px;
    margin: 15px 0px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.rei{
  width: 300px;
  height: 300px;

}