/*contacto*/
.formulario{
    display: flex;
    width: 100%;
  }
  .formulario1 {
    color: #FFFFFF;
    border: solid 2px #FFFFFF;
    width: 600px;
    height: auto;
    padding: 20px 20px;
  }

  .pz{
    padding-left: 50px;
    width: 350px;
    height: 300px;
  
  }