@media (max-width: 1300px) {
    .nav-menu {
      display: block;
      position: absolute;
      text-align: left;
      padding: 10px;
        li{
          padding: 0px;}
    }
    .nav-menu :hover{
      transform: none;
      text-decoration: underline 1px #FFFFFF;
    }
    .fotos1 img {
      height: 400px;
    }
    .videos1 {
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      justify-items: center;
    }
    .cartas{ 
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      justify-items: center;
    }
    .contenedor2{ 
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
    }
    .juli1 {
      grid-template-columns: repeat(2, 1fr);
      width: 100%; 
      justify-items: center;
    }
  }
  @media (max-width: 700px) {
    .fotos1 img {
      height: 320px;
    }
    .videos1 {
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
      justify-items: center;
    }
    .cartas{ 
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
      justify-items: center;
    }
    .contenedor2{ 
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
    }
    .juli1 {
      grid-template-columns: repeat(1, 1fr);
      gap: 25;
      width: 100%;
      padding-left: 10px; 
      justify-items: center;
    }
  }
  @media (max-width: 500px) {
    .contenedor{
      width: auto;
      height: 300px;
      text-decoration: none;
    }
    .fotos{
      width: 100%;
      height: 240px;
      margin: 0px;
    }
    .fotos1{
      padding-left: 10px;
      width: 300px;
    }
    .fotos1 img{
      padding: 0px;
      margin: 0px;
      width: 300px;
      height: 240px;
    }
    .videos1 {
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
      justify-items: center;
    }
    .cartas{ 
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
    }
    .contenedor2{ 
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
    }
    .juli1 {
      grid-template-columns: repeat(1, 1fr);
      width: 100%; 
      justify-items: center;}
      .formulario1{
        width: auto;
      }
      .pz{
        width: 200px;
        height: 120px;
      }
     footer{
      text-align: center;
      width: auto;
     }
     footer i{
      padding: 0px 25px 0px 25px;
  
    }
  }
  