body {
  background-image: url(imagenes/Fondo.jpg);

  color: #c2c2c2;
 
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Oswald', sans-serif;
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
}
.logo {
  height: "100px";
  width: "100px";
  opacity: 0.3;
}
h6{ 
  text-align: center;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #c2c2c2;
}
a:visited {
  color: #c2c2c2;
}
.contenedor {
  background: url(imagenes/portada2.png) no-repeat center center/cover;
  width: 100%;
  height: 400px;
  margin: 0px;
  display: flex;

  margin-top: 0px;
  margin-bottom: 20px;
}
.nav-menu :hover {
  color: #ffffff;
  transform: scale(1.5, 1.5);
}
h1 {
  text-align: center;
  text-decoration: underline 2px;
}
h2 {
  text-align: center;
}
.fotos{
    display: flex;
    justify-content: center;
}

.videos1 {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  margin: 10px 0px;
  padding-left: 10px;
}
iframe {
  width: 300px;
  height: 200px;
}

footer :hover {
  transform: scale(1.5, 1.5);
  color: #ffffff;
  margin-bottom: 40px;
}
/*contacto*/
.formulario{
  display: flex;
}
.pz{
  padding-left: 50px;
  width: 350px;
  height: 300px;

}
/*artista*/
.juli1{
    width: 100%px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 30px;
    margin: 15px 0px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.rei{
  width: 350px;
  height: 250px;

}
.list-group-item{
  background: #585757;
  color: #FFFFFF;
}